.page-meu-plano{
    main{
        overflow: auto !important;
    }
    .wp-block-table{
        thead > tr > th{
            padding:$padding--medium;
            & img{
                margin:0px;
            }
        }
        tbody > tr >  td > mark{
            display: flex;
            justify-content: center;
        }
        table, tr, td {
            border-color: white;
        }
    }
    main > p > strong{
        color: $color--primary-dark !important;
        font-weight: $font-weight--bold;
    }
}
