#doifdForm2{
    padding: 0;
    margin-right: 0;
    margin-left: 0;
}

.formCadastroEmail {
    h5 {
        text-align: left !important;
    }

    // Mensagens de erro do formulário do plugin DOIFD
    #doifd_statusmsg {
        .doifd_error_msg {
            font-family: $font-family--primary;
            font-size: $font-size--small;
            font-weight: $font-weight--regular !important;
            padding: .25rem;
            position: relative;
            text-align: left;
        }
    }

    #doifd_form {
        background-color: $color--high-light;
        border-radius: $border-radius--large;
        margin-top: $margin--large;
        padding: 2rem 7rem;
        text-align: left;

        @include tablet {
            padding: 1rem 2rem;
        }

        .doifd-form--fields {
            padding-inline-start: 0 !important;

            li {
                display: flex;
                flex-direction: column;
                label{
                    font-family: $font-family--primary;
                    font-size: $font-size--x-small;
                    font-weight: $font-weight--bold;
                    text-transform: uppercase;
                    text-align: left;
                    color: $color--low-dark;

                }
                input[type=text], input[type=email], select {
                    width: 100%;
                    background-color: transparent;
                    border: $border-width--small solid $color--high-dark;
                    padding: 11px 5px;
                    font-family: $font-family--primary;
                    color: $color--low-light;
                    border-radius: $border-radius--small;
                    margin-bottom: 1.3rem;
                }
            }
        }
        .doifdCheckboxClass{
            width: 100%;
            label{
                font-family: $font-family--primary;
                font-size: $font-size--medium;
                color: $color--low-pure;
            }
        }
        .doifdPrivacyClass{
            padding-inline-start: 0 !important;
            text-align: center;
            li{
                a{
                    font-size: $font-size--x-small;
                    font-style: normal;
                    color: $color--low-pure;
                    font-weight: $font-weight--regular;
                    font-family: $font-family--primary;
                }
            }
        }
        .doifdDefaultButtonHolder{
            #doifd_download_form{
                background: #fff;
                border: $border-width--medium solid $color--low-pure;
                border-radius: $border-radius--medium;
                width: 100%;
                max-width: 100px;
                color: $color--low-pure;
                font-family: $font-family--primary;
                font-size: $font-size--small;
                text-transform: uppercase;
                font-weight: $font-weight--bold;
            }
        }
    }
    .doifd_privacy_link{
        display: none !important;
    }

    // Captcha
    .captcha-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        width: 100%;

        .g-recaptcha {
            transform: scale(1) !important;
        }
    }
}
