@import '../../../assets/scss/includes';

.my-plan {

    &__summary {
        margin-bottom: $gap--large;

        p {
            font-size: $font-size--large;
        }

        strong {
            color: $color--primary-dark;
        }
    }

    &__featured-column {

        &:is(th) {
            background-color: #A3DDF5 !important;
        }

        &:is(td) {
            background-color: #D1EEFA;
        }
    }
}
